*{
    box-sizing: border-box;
}
.first_sectoin_welcome{
    font-size: 89px;
   
}

.carousel{
    top:-80px;
}
.navbar{
   z-index: 2;
}
.first_section_right_p{
    text-align:justify;
}
.first_sectoin_second_p{
    text-align: justify;
}
.third_carousel_div{
    position:absolute;
    top:30%;
    left:10%;
    color:white;
    width: 100%;
    display: inline-block;

}